.services {
    padding: 70px 5%;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

.s-box {
    text-align: center;
    padding: 20px 30px;
}

.s-box img {
    width: 60px;
}

.s-box h3{
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}

.s-box p {
    line-height: 1.7;
}